<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header-item-list">
            <li class="main-header-item">
                <a href="">Home</a>
            </li>
            <li class="main-header-item">
                <a href="/">Activity</a>
            </li>
            <li class="main-header-item">
                <a href="/admin/add-activity">Add Activity</a>
            </li>
        </ul>
    </nav>
</header>